@import './default/layout.less';
@import './default/table.less';
@import './default/button.less';
@import './default/modal.less';
@import './default/form.less';
@import './default/notice.less';
@import './default/comm.less';
@import './default/breadcrumb.less';
@import './default/tab.less';
@import './default/steps.less';
@import './default/tag.less';
@import './default/popover.less';
@import './default/pagination.less';
@import './default/collapse.less';
@import './default/list.less';
@import './default/radio.less';
@import './default/treeselect.less';
@import './default/checkbox.less';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    margin:0;
    height:100%;
}

body {
    background-color: @white;
}

ul,li{
    list-style: none;
}

.root {
    height: 100%;
}
