@import './const.less';

.ant-table {
    color: @black3;
}
.ant-table-wrapper {
    background: #FFFFFF;
}
.ant-table-thead > tr > th {
    padding: 13px 8px;
    border-bottom: 0px solid #fff;
    &:first-child {
        padding: 13px 8px 13px 20px;
    }
    &:last-child {
        padding: 13px 20px 13px 8px;
    }
}
.ant-table-tbody > tr > td {
    padding: 19px 8px;
    border-bottom: 1px solid @blackE8;
    &:first-child {
        padding: 19px 8px 19px 20px;
    }
    &:last-child {
        padding: 19px 20px 19px 8px;
    }
}
.ant-table colgroup > col.ant-table-selection-col {
    width: 50px;
}
.ant-table-thead > tr > th.ant-table-selection-column {
    padding: 13px 12px 13px 20px;
    text-align: left;
}
.ant-table-tbody > tr > td.ant-table-selection-column {
    padding: 19px 12px 19px 20px;
    text-align: left;
}
.ant-table-thead > tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td,
.ant-table-tbody > tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td,
.ant-table-thead > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td,
.ant-table-tbody > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td {
    background: @deriveColor;
}
.ant-table-middle {
    .ant-table-thead > tr > th {
        border-bottom: 1px solid #e8e8e8
    }
    & > .ant-table-content > .ant-table-header > table > .ant-table-thead > tr > th,
    & > .ant-table-content > .ant-table-body > table > .ant-table-thead > tr > th,
    & > .ant-table-content > .ant-table-scroll > .ant-table-header > table > .ant-table-thead > tr > th,
    & > .ant-table-content > .ant-table-scroll > .ant-table-body > table > .ant-table-thead > tr > th,
    & > .ant-table-content > .ant-table-fixed-left > .ant-table-header > table > .ant-table-thead > tr > th,
    & > .ant-table-content > .ant-table-fixed-right > .ant-table-header > table > .ant-table-thead > tr > th,
    & > .ant-table-content > .ant-table-fixed-left > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-thead > tr > th,
    & > .ant-table-content > .ant-table-fixed-right > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-thead > tr > th,
    & > .ant-table-content > .ant-table-header > table > .ant-table-tbody > tr > td,
    & > .ant-table-content > .ant-table-body > table > .ant-table-tbody > tr > td,
    & > .ant-table-content > .ant-table-scroll > .ant-table-header > table > .ant-table-tbody > tr > td,
    & > .ant-table-content > .ant-table-scroll > .ant-table-body > table > .ant-table-tbody > tr > td,
    & > .ant-table-content > .ant-table-fixed-left > .ant-table-header > table > .ant-table-tbody > tr > td,
    & > .ant-table-content > .ant-table-fixed-right > .ant-table-header > table > .ant-table-tbody > tr > td,
    & > .ant-table-content > .ant-table-fixed-left > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-tbody > tr > td,
    & > .ant-table-content > .ant-table-fixed-right > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-tbody > tr > td {
        &:first-child {
            padding: 13px 8px 13px 20px;
        }
        &:last-child {
            padding: 13px 20px 13px 8px;
        }
    }
    & > .ant-table-content > .ant-table-body > table > .ant-table-thead > tr > th.ant-table-selection-column {
        padding: 13px 12px 13px 20px !important;
        text-align: left;
    }
    & > .ant-table-content > .ant-table-body > table > .ant-table-tbody > tr > td.ant-table-selection-column {
        padding: 13px 12px 13px 20px !important;
        text-align: left;
    }
    .ant-table-tbody > tr > td {
        padding: 13px 8px;
        &:first-child {
            padding-left: 20px;
        }
        &:last-child {
            padding-right: 20px;
        }
    }
}
.ant-table-thead > tr > th .ant-table-header-column .ant-table-column-sorters::before {
    display: none;
}
.ant-table-thead > tr > th .anticon-filter, .ant-table-thead > tr > th .ant-table-filter-icon {
    right: unset;
    top: -1.8px;
    background: transparent !important;
 }
 .ant-table-thead > tr > th.ant-table-column-sort {
    background: transparent;
 }
 .ant-table-tbody > tr > td.ant-table-column-sort {
    background: transparent;
 }
 .ant-table-thead > tr > th.ant-table-column-has-actions.ant-table-column-has-sorters:hover {
    background: transparent;
 }
 .ant-table-thead > tr > th .ant-table-column-sorter .ant-table-column-sorter-inner-full {
    margin-top: -0.65em;
 }
.ant-table-footer {
    padding: 18px 20px;
}

.ant-pagination-total-text {
    color: #666666;
}
.ant-pagination.mini .ant-pagination-item {
    border: 1px solid transparent;
}
.ant-table-pagination.ant-pagination {
    margin: 22px 20px 22px 0px
}

.ant-divider {
    background-color: @primaryColor;
}
