@import './const.scss';

.my-layout-header {
    background: #080A1A;
    .ant-menu {
        background: transparent;
        color: $blackBF;
        line-height: 64px;
        font-size: $font16;
    }
    .ant-menu-item > a {
        color: $blackBF;
    }
    .ant-menu-item > a:hover {
        color: #FFFFFF;
    }
    .ant-menu-horizontal {
        border-bottom: 0px solid transparent;
    }
    .ant-menu-horizontal > .ant-menu-item:hover,
    .ant-menu-horizontal > .ant-menu-submenu:hover,
    .ant-menu-horizontal > .ant-menu-item-active,
    .ant-menu-horizontal > .ant-menu-submenu-active,
    .ant-menu-horizontal > .ant-menu-item-open,
    .ant-menu-horizontal > .ant-menu-submenu-open,
    .ant-menu-horizontal > .ant-menu-item-selected,
    .ant-menu-horizontal > .ant-menu-submenu-selected {
        border-bottom: 2px solid transparent;
    }
    .ant-menu-horizontal > .ant-menu-item,
    .ant-menu-horizontal > .ant-menu-submenu {
        border-bottom: 2px solid transparent;
    }
}

.my-layout-sider {
    background: #111426;
    padding-top: 20px;
    .ant-menu {
        background: transparent;
        color: $blackBF;
    }
    .ant-menu-item > a {
        color: $blackBF;
    }
    .ant-menu-item > a:hover {
        color: #FFFFFF;
    }
    .ant-menu-item {
        height: 48px;
        line-height: 48px;
        display: flex;
        align-items: center;
        font-size: $font14;
    }
    .ant-menu-item-selected {
        color: #FFFFFF;
    }
    .ant-menu-item-selected > a, .ant-menu-item-selected > a:hover {
        color: #FFFFFF;
    }
    .ant-menu-item:hover, .ant-menu-item-active, .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open, .ant-menu-submenu-active, .ant-menu-submenu-title:hover {
        color: #FFFFFF;
    }
    .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
        background-color: #122241;
    }
    .ant-menu-item:active, .ant-menu-submenu-title:active {
        background-color: #122241;
    }
    .ant-menu-inline .ant-menu-item:after, .ant-menu-vertical .ant-menu-item:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        border-left: 3px solid $primaryColor;
        border-right: 0px solid $primaryColor;
    }
    .ant-menu-item .anticon, .ant-menu-submenu-title .anticon {
        font-size: $font16;
    }
}