@import '../const.less';

.ant-btn {
    padding: 0px 16px;
    box-shadow: unset;
}

.ant-btn.ant-btn-icon-only{
    padding: 0;
}

.ant-btn-primary {
    text-shadow: unset;
}

.ant-btn-danger {
    color: #fff;
    border-color: @red_dark;
    background-color: @red_dark;
    &:hover, &:focus {
        color: #fff;
        background-color: #f08e89;
        border-color: #f08e89;
    }
    &:active, &.active {
        color: #fff;
        border-color: @red_dark;
        background-color: @red_dark;
    }
}

.ant-btn-lg {
    height: 36px;
}