@import '../const.less';

.ant-notification {
    width: 360px;
}
.ant-notification-notice {
    padding: 20px 28px 20px 16px;
}
.ant-notification-notice-icon {
    margin-left: 0px;
    font-size: 20px;
    margin-top: 2px;
}
.ant-notification-notice-close {
    top: 19px;
    right: 12px;
}
.ant-notification-notice-with-icon .ant-notification-notice-message {
    font-size: 16px;
    margin-left: 32px;
    margin-bottom: 8px;
    font-weight: 500;
}
.ant-notification-notice-with-icon .ant-notification-notice-description {
    margin-left: 32px;
}
.dt-notification-close-btn {
    position: absolute;
    right: 36px;
    top: 12px;
    line-height: 17px;
    font-size: 13px;
    font-weight: normal;
    user-select: none;
}
