@import "../const.less";

.ant-btn {
    line-height: 100%;
    box-shadow: unset;
    .anticon-minus, .anticon-plus {
        font-size: 13px;
    }
}

.ant-btn.ant-btn-primary {
    text-shadow: unset;
    &:hover, &:focus {
        background-color: @hoverColor;
        border-color: @hoverColor;
        color: @white;
    }
    &:active {
        color: @white;
        background-color: @clickColor;
        border-color: @clickColor;
    }
    &.ant-btn-loading {
        border-color: @loadingColor;
        background-color: @loadingColor;
    }
}

.ant-btn.ant-btn-default {
    color: @black_title;
    border-color: @black_border;
    &:hover, &:focus {
        border-color: @hoverColor;
        color: @hoverColor;
    }
    &:active {
        color: @clickColor;
        border-color: @clickColor;
    }
}

.ant-btn.ant-btn-link {
    color: @primaryColor;
    height: 20px;
    line-height: 20px;
    padding: 0;
    border: 0;
    &:hover, &:focus {
        color: @hoverColor;
        height: 20px;
        line-height: 20px;
        padding: 0;
        border: 0;
    }
    &:active {
        color: @clickColor;
        height: 20px;
        line-height: 20px;
        padding: 0;
        border: 0;
    }
}

.ant-btn.ant-btn-link[disabled] {
    color: @black_msg;
    border-color: transparent;
    background: 0 0;
    background-color: transparent;
    text-shadow: none;
    box-shadow: none;
    height: 20px;
    line-height: 20px;
    padding: 0;
    border: 0;
    &:hover, &:focus, &:active {
        color: @black_msg;
        border-color: transparent;
        background: 0 0;
        text-shadow: none;
        box-shadow: none;
        height: 20px;
        line-height: 20px;
        padding: 0;
        border: 0;
    }
}

.ant-btn-dangerous.ant-btn-primary {
    background-color: @red;
    &.ant-btn-loading {
        background-color: #FF4D4F;
        border-color: #FF4D4F;
    }
    &:hover, &:focus {
        background-color: #ED5340;
        border-color: #ED5340;
    }
    &:active {
        background-color: #E03A26;
        border-color: #E03A26;
    }
}

.ant-btn-dangerous.ant-btn-default, .ant-btn-dangerous.ant-btn-link {
    color: @red;
    border-color: @red;
    &:hover, &:focus {
        color: #ED5340;
        border-color: #ED5340;
    }
    &:active {
        color: #E03A26;
        border-color: #E03A26;
    }
}

.ant-btn[disabled] {
    color: @black_msg;
    background-color: @black_readonly;
    border-color: @black_readonly;
    &:hover, &:focus, &:active {
        color: @black_msg;
        background-color: @black_readonly;
        border-color: @black_readonly;
    }
}

.ant-btn-background-ghost {
    color: @primaryColor;
    border-color: @primaryColor;
}

.ant-btn.ant-btn-background-ghost {
    color: @primaryColor;
    border-color: @primaryColor;
    &:hover, &:focus {
        border-color: @hoverColor;
    }
    &:active, &.active {
        border-color: @clickColor;
    }
}

.ant-btn-background-ghost.ant-btn-disabled,
.ant-btn-background-ghost.ant-btn.disabled,
.ant-btn-background-ghost.ant-btn[disabled],
.ant-btn-background-ghost.ant-btn-disabled:hover,
.ant-btn-background-ghost.ant-btn.disabled:hover,
.ant-btn-background-ghost.ant-btn[disabled]:hover,
.ant-btn-background-ghost.ant-btn-disabled:focus,
.ant-btn-background-ghost.ant-btn.disabled:focus,
.ant-btn-background-ghost.ant-btn[disabled]:focus,
.ant-btn-background-ghost.ant-btn-disabled:active,
.ant-btn-background-ghost.ant-btn.disabled:active,
.ant-btn-background-ghost.ant-btn[disabled]:active,
.ant-btn-background-ghost.ant-btn-disabled.active,
.ant-btn-background-ghost.ant-btn.disabled.active,
.ant-btn-background-ghost.ant-btn[disabled].active {
    color: @black_msg;
    background-color: @black_readonly !important;
    border-color: @black_readonly;
}

.dt-btn-highlight {
    &.ant-btn.ant-btn-icon-only {
        .anticon-search {
            margin-left: 0;
        }
    }
    &.ant-btn:hover, &.ant-btn:focus {
        color: @primaryColor;
        border-color: @primaryColor;
    }
    &.ant-btn:active, &.ant-btn.active {
        color: @clickColor;
        border-color: @clickColor;
    }
    &.ant-btn-disabled,
    &.ant-btn.disabled,
    &.ant-btn[disabled],
    &.ant-btn-disabled:hover,
    &.ant-btn.disabled:hover,
    &.ant-btn[disabled]:hover,
    &.ant-btn-disabled:focus,
    &.ant-btn.disabled:focus,
    &.ant-btn[disabled]:focus,
    &.ant-btn-disabled:active,
    &.ant-btn.disabled:active,
    &.ant-btn[disabled]:active,
    &.ant-btn-disabled.active,
    &.ant-btn.disabled.active,
    &.ant-btn[disabled].active {
        color: @black_msg;
        background-color: @black_readonly !important;
        border-color: @black_readonly;
    }
    &.ant-btn {
        color: @primaryColor;
        border-color: @primaryColor;
        padding-left: 9px;
        padding-right: 9px;
        .anticon + span {
            margin-left: 4px;
        }
    }
}

.dt-btn-custom-icon {
    &.ant-btn {
        padding-left: 12px;
        padding-right: 12px;
        .anticon + span {
            margin-left: 4px;
        }
    }
}

.ant-btn.ant-btn-sm {
    border-radius: 2px;
    .anticon-search {
        margin-left: 0;
    }
}

.ant-btn-icon-only {
    padding: 0;
    width: 48px;
    height: 32px;
    background: @blue;
    color: @white;
    .anticon-search {
        width: 14px;
        height: 14px;
        margin-left: 7px;
    }
}

.ant-btn.ant-btn-default.dt-btn-highlight:not([disabled]) {
    &:hover {
        color: @primaryColor;
        border-color: @primaryColor;
    }
}

.dt-btn-icon {
    border: none;
    color: @black_Desc !important;
    &:hover {
        color: @hoverColor !important;
    }
    &:active {
        color: @clickColor !important;
    }
}
// 不展示点击效果
.dt-btn-icon[ant-click-animating-without-extra-node]::after {
    border: 0 none;
    opacity: 0;
    animation: none 0 ease 0 1 normal;
}
// 禁用按钮
.dt-btn-icon[disabled] {
    border: none;
    color: @disabled-color !important;
    background-color: transparent;
    &:hover {
        background-color: transparent;
    }
}

.dt-btn-icon-primary {
    border: none;
    color: @blue !important;
    &:hover {
        color: @hoverColor !important;
    }
    &:active {
        color: @clickColor !important;
    }
}
// 不展示点击效果
.dt-btn-icon-primary[ant-click-animating-without-extra-node]::after {
    border: 0 none;
    opacity: 0;
    animation: none 0 ease 0 1 normal;
}
// 禁用按钮
.dt-btn-icon-primary[disabled] {
    border: none;
    color: @disabled-color !important;
    background-color: transparent;
    &:hover {
        background-color: transparent;
    }
}
