@import '../const.less';

.@{ant-prefix}-btn {
    padding: 0px 16px;
    box-shadow: unset;
}
.@{ant-prefix}-btn.@{ant-prefix}-btn-primary {
    text-shadow: unset;
    &:hover, &:focus {
        background-color: @hoverColor;
        border-color: @hoverColor;
        color: #FFFFFF;
    }
    &:active, &.active {
        color: #FFFFFF;
        background-color: @clickColor;
        border-color: @clickColor;
    }
}
.@{ant-prefix}-btn.@{ant-prefix}-btn-primary-disabled,
.@{ant-prefix}-btn.@{ant-prefix}-btn-primary.disabled,
.@{ant-prefix}-btn.@{ant-prefix}-btn-primary[disabled],
.@{ant-prefix}-btn.@{ant-prefix}-btn-primary-disabled:hover,
.@{ant-prefix}-btn.@{ant-prefix}-btn-primary.disabled:hover,
.@{ant-prefix}-btn.@{ant-prefix}-btn-primary[disabled]:hover,
.@{ant-prefix}-btn.@{ant-prefix}-btn-primary-disabled:focus,
.@{ant-prefix}-btn.@{ant-prefix}-btn-primary.disabled:focus,
.@{ant-prefix}-btn.@{ant-prefix}-btn-primary[disabled]:focus,
.@{ant-prefix}-btn.@{ant-prefix}-btn-primary-disabled:active,
.@{ant-prefix}-btn.@{ant-prefix}-btn-primary.disabled:active,
.@{ant-prefix}-btn.@{ant-prefix}-btn-primary[disabled]:active,
.@{ant-prefix}-btn.@{ant-prefix}-btn-primary-disabled.active,
.@{ant-prefix}-btn.@{ant-prefix}-btn-primary.disabled.active,
.@{ant-prefix}-btn.@{ant-prefix}-btn-primary[disabled].active {
    color: @blackBF;
    background-color: @blackE8;
    border-color: @blackE8;
}
.@{ant-prefix}-btn:hover, .@{ant-prefix}-btn:focus, .@{ant-prefix}-btn:active, .@{ant-prefix}-btn.active {
    color: @black3;
    border-color: @blackBF;
}
.@{ant-prefix}-btn:active, .@{ant-prefix}-btn.active {
    background: @blackFA;
}
.@{ant-prefix}-btn-background-ghost {
    color: @primaryColor;
    border-color: @primaryColor;
    background-color: #FFFFFF !important;
}
.@{ant-prefix}-btn.@{ant-prefix}-btn-background-ghost {
    &:hover, &:focus {
        background-color: @hoverColor !important;
        border-color: @hoverColor;
        color: #FFFFFF;
    }
    &:active, &.active {
        background-color: @clickColor !important;
        border-color: @clickColor;
        color: #FFFFFF;
    }
}
.@{ant-prefix}-btn-background-ghost.@{ant-prefix}-btn-disabled,
.@{ant-prefix}-btn-background-ghost.@{ant-prefix}-btn.disabled,
.@{ant-prefix}-btn-background-ghost.@{ant-prefix}-btn[disabled],
.@{ant-prefix}-btn-background-ghost.@{ant-prefix}-btn-disabled:hover,
.@{ant-prefix}-btn-background-ghost.@{ant-prefix}-btn.disabled:hover,
.@{ant-prefix}-btn-background-ghost.@{ant-prefix}-btn[disabled]:hover,
.@{ant-prefix}-btn-background-ghost.@{ant-prefix}-btn-disabled:focus,
.@{ant-prefix}-btn-background-ghost.@{ant-prefix}-btn.disabled:focus,
.@{ant-prefix}-btn-background-ghost.@{ant-prefix}-btn[disabled]:focus,
.@{ant-prefix}-btn-background-ghost.@{ant-prefix}-btn-disabled:active,
.@{ant-prefix}-btn-background-ghost.@{ant-prefix}-btn.disabled:active,
.@{ant-prefix}-btn-background-ghost.@{ant-prefix}-btn[disabled]:active,
.@{ant-prefix}-btn-background-ghost.@{ant-prefix}-btn-disabled.active,
.@{ant-prefix}-btn-background-ghost.@{ant-prefix}-btn.disabled.active,
.@{ant-prefix}-btn-background-ghost.@{ant-prefix}-btn[disabled].active {
    color: @blackBF;
    background-color: @blackE8 !important;
    border-color: @blackE8;
}

.@{ant-prefix}-btn.@{ant-prefix}-btn-link {
    &:hover, &:focus {
        background-color: transparent;
        border-color: transparent;
        color: @hoverColor;
    }
    &:active, &.active {
        background-color: transparent;
        border-color: transparent;
        color: @clickColor;
    }
}
.@{ant-prefix}-btn.@{ant-prefix}-btn-link-disabled,
.@{ant-prefix}-btn.@{ant-prefix}-btn-link.disabled,
.@{ant-prefix}-btn.@{ant-prefix}-btn-link[disabled],
.@{ant-prefix}-btn.@{ant-prefix}-btn-link-disabled:hover,
.@{ant-prefix}-btn.@{ant-prefix}-btn-link.disabled:hover,
.@{ant-prefix}-btn.@{ant-prefix}-btn-link[disabled]:hover,
.@{ant-prefix}-btn.@{ant-prefix}-btn-link-disabled:focus,
.@{ant-prefix}-btn.@{ant-prefix}-btn-link.disabled:focus,
.@{ant-prefix}-btn.@{ant-prefix}-btn-link[disabled]:focus,
.@{ant-prefix}-btn.@{ant-prefix}-btn-link-disabled:active,
.@{ant-prefix}-btn.@{ant-prefix}-btn-link.disabled:active,
.@{ant-prefix}-btn.@{ant-prefix}-btn-link[disabled]:active,
.@{ant-prefix}-btn.@{ant-prefix}-btn-link-disabled.active,
.@{ant-prefix}-btn.@{ant-prefix}-btn-link.disabled.active,
.@{ant-prefix}-btn.@{ant-prefix}-btn-link[disabled].active {
    color: @blackBF;
}
.@{ant-prefix}-btn-danger, .@{ant-prefix}-btn-danger.@{ant-prefix}-btn:focus {
    background-color: @red !important;
    border-color: @red;
    color: #fff;
}
.@{ant-prefix}-btn-danger.@{ant-prefix}-btn:hover {
    color: #fff;
    background-color: #ff7875 !important;
    border-color: #ff7875;
}
.@{ant-prefix}-btn-danger.@{ant-prefix}-btn:active,
.@{ant-prefix}-btn-danger.@{ant-prefix}-btn.active {
    color: #fff;
    background-color: @red !important;
    border-color: @red;
}
.@{ant-prefix}-btn-background-ghost.@{ant-prefix}-btn-danger {
    color: @red;
    background-color: transparent !important;
    border-color: @red;
}
.@{ant-prefix}-btn-background-ghost.@{ant-prefix}-btn-danger:hover, .@{ant-prefix}-btn-background-ghost.@{ant-prefix}-btn-danger:focus {
    color: #fff;
    background-color: #ff7875 !important;
    border-color: #ff7875;
}
.@{ant-prefix}-btn-background-ghost.@{ant-prefix}-btn-danger:active,
.@{ant-prefix}-btn-background-ghost.@{ant-prefix}-btn-danger.active {
    color: #fff;
    background-color: @red !important;
    border-color: @red;
}
.@{ant-prefix}-btn-lg {
    height: 36px;
}

.@{ant-prefix}-btn-danger-disabled,
.@{ant-prefix}-btn-danger.disabled,
.@{ant-prefix}-btn-danger[disabled],
.@{ant-prefix}-btn-danger-disabled:hover,
.@{ant-prefix}-btn-danger.disabled:hover,
.@{ant-prefix}-btn-danger[disabled]:hover,
.@{ant-prefix}-btn-danger-disabled:focus,
.@{ant-prefix}-btn-danger.disabled:focus,
.@{ant-prefix}-btn-danger[disabled]:focus,
.@{ant-prefix}-btn-danger-disabled:active,
.@{ant-prefix}-btn-danger.disabled:active,
.@{ant-prefix}-btn-danger[disabled]:active,
.@{ant-prefix}-btn-danger-disabled.active,
.@{ant-prefix}-btn-danger.disabled.active,
.@{ant-prefix}-btn-danger[disabled].active {
    background-color: @blackE8 !important;
    border-color: @blackE8;
    color: @blackBF;
}

.dt-btn-highlight {
    &.@{ant-prefix}-btn:hover, &.@{ant-prefix}-btn:focus {
        color: @primaryColor;
        border-color: @primaryColor;
    }
    &.@{ant-prefix}-btn:active, &.@{ant-prefix}-btn.active {
        color: @clickColor;
        border-color: @clickColor;
    }
    &.@{ant-prefix}-btn-disabled,
    &.@{ant-prefix}-btn.disabled,
    &.@{ant-prefix}-btn[disabled],
    &.@{ant-prefix}-btn-disabled:hover,
    &.@{ant-prefix}-btn.disabled:hover,
    &.@{ant-prefix}-btn[disabled]:hover,
    &.@{ant-prefix}-btn-disabled:focus,
    &.@{ant-prefix}-btn.disabled:focus,
    &.@{ant-prefix}-btn[disabled]:focus,
    &.@{ant-prefix}-btn-disabled:active,
    &.@{ant-prefix}-btn.disabled:active,
    &.@{ant-prefix}-btn[disabled]:active,
    &.@{ant-prefix}-btn-disabled.active,
    &.@{ant-prefix}-btn.disabled.active,
    &.@{ant-prefix}-btn[disabled].active {
        color: @blackBF;
        background-color: @blackE8 !important;
        border-color: @blackE8;
    }
}