@import '../const.less';

.ant-btn{
    line-height: 30px;
}
.ant-btn.ant-btn-primary {
    &:hover, &:focus {
        background-color: @hoverColor;
        border-color: @hoverColor;
        color: @white;
    }
    &:active, &.active {
        color: @white;
        background-color: @clickColor;
        border-color: @clickColor;
    }
}
.ant-btn.ant-btn-primary-disabled,
.ant-btn.ant-btn-primary.disabled,
.ant-btn.ant-btn-primary[disabled],
.ant-btn.ant-btn-primary-disabled:hover,
.ant-btn.ant-btn-primary.disabled:hover,
.ant-btn.ant-btn-primary[disabled]:hover,
.ant-btn.ant-btn-primary-disabled:focus,
.ant-btn.ant-btn-primary.disabled:focus,
.ant-btn.ant-btn-primary[disabled]:focus,
.ant-btn.ant-btn-primary-disabled:active,
.ant-btn.ant-btn-primary.disabled:active,
.ant-btn.ant-btn-primary[disabled]:active,
.ant-btn.ant-btn-primary-disabled.active,
.ant-btn.ant-btn-primary.disabled.active,
.ant-btn.ant-btn-primary[disabled].active {
    color: @black_msg;
    background-color: @black_readonly;
    border-color: @black_readonly;
}
.ant-btn:hover, .ant-btn:focus, .ant-btn:active, .ant-btn.active {
    color: @black_title;
    border-color: @black_msg;
}
.ant-btn:active, .ant-btn.active {
    background: @black_navBg;
}
.ant-btn-background-ghost {
    color: @primaryColor;
    border-color: @primaryColor;
    background-color: @white !important;
}
.ant-btn.ant-btn-background-ghost {
    color: @primaryColor;
    border-color: @primaryColor;
    &:hover, &:focus {
        background-color: @hoverColor !important;
        border-color: @hoverColor;
        color: @white;
    }
    &:active, &.active {
        background-color: @clickColor !important;
        border-color: @clickColor;
        color: @white;
    }
}
.ant-btn-background-ghost.ant-btn-disabled,
.ant-btn-background-ghost.ant-btn.disabled,
.ant-btn-background-ghost.ant-btn[disabled],
.ant-btn-background-ghost.ant-btn-disabled:hover,
.ant-btn-background-ghost.ant-btn.disabled:hover,
.ant-btn-background-ghost.ant-btn[disabled]:hover,
.ant-btn-background-ghost.ant-btn-disabled:focus,
.ant-btn-background-ghost.ant-btn.disabled:focus,
.ant-btn-background-ghost.ant-btn[disabled]:focus,
.ant-btn-background-ghost.ant-btn-disabled:active,
.ant-btn-background-ghost.ant-btn.disabled:active,
.ant-btn-background-ghost.ant-btn[disabled]:active,
.ant-btn-background-ghost.ant-btn-disabled.active,
.ant-btn-background-ghost.ant-btn.disabled.active,
.ant-btn-background-ghost.ant-btn[disabled].active {
    color: @black_msg;
    background-color: @black_readonly !important;
    border-color: @black_readonly;
}

.ant-btn.ant-btn-link {
    &:hover, &:focus {
        background-color: transparent;
        border-color: transparent;
        color: @hoverColor;
    }
    &:active, &.active {
        background-color: transparent;
        border-color: transparent;
        color: @clickColor;
    }
}
.ant-btn.ant-btn-link-disabled,
.ant-btn.ant-btn-link.disabled,
.ant-btn.ant-btn-link[disabled],
.ant-btn.ant-btn-link-disabled:hover,
.ant-btn.ant-btn-link.disabled:hover,
.ant-btn.ant-btn-link[disabled]:hover,
.ant-btn.ant-btn-link-disabled:focus,
.ant-btn.ant-btn-link.disabled:focus,
.ant-btn.ant-btn-link[disabled]:focus,
.ant-btn.ant-btn-link-disabled:active,
.ant-btn.ant-btn-link.disabled:active,
.ant-btn.ant-btn-link[disabled]:active,
.ant-btn.ant-btn-link-disabled.active,
.ant-btn.ant-btn-link.disabled.active,
.ant-btn.ant-btn-link[disabled].active {
    color: @black_msg;
}
.ant-btn-danger, .ant-btn-danger.ant-btn:focus {
    background-color: @red !important;
    border-color: @red;
    color: @white;
}
.ant-btn-danger.ant-btn:hover {
    color: @white;
    background-color: @red2 !important;
    border-color: @red2;
}
.ant-btn-danger.ant-btn:active,
.ant-btn-danger.ant-btn.active {
    color: @white;
    background-color: @red !important;
    border-color: @red;
}
.ant-btn-background-ghost.ant-btn-danger {
    color: @red;
    background-color: transparent !important;
    border-color: @red;
}
.ant-btn-background-ghost.ant-btn-danger:hover, .ant-btn-background-ghost.ant-btn-danger:focus {
    color: @white;
    background-color: @red2 !important;
    border-color: @red2;
}
.ant-btn-background-ghost.ant-btn-danger:active,
.ant-btn-background-ghost.ant-btn-danger.active {
    color: @white;
    background-color: @red !important;
    border-color: @red;
}

.ant-btn-danger-disabled,
.ant-btn-danger.disabled,
.ant-btn-danger[disabled],
.ant-btn-danger-disabled:hover,
.ant-btn-danger.disabled:hover,
.ant-btn-danger[disabled]:hover,
.ant-btn-danger-disabled:focus,
.ant-btn-danger.disabled:focus,
.ant-btn-danger[disabled]:focus,
.ant-btn-danger-disabled:active,
.ant-btn-danger.disabled:active,
.ant-btn-danger[disabled]:active,
.ant-btn-danger-disabled.active,
.ant-btn-danger.disabled.active,
.ant-btn-danger[disabled].active {
    background-color: @black_readonly !important;
    border-color: @black_readonly;
    color: @black_msg;
}

.dt-btn-highlight {
    &.ant-btn:hover, &.ant-btn:focus {
        color: @primaryColor;
        border-color: @primaryColor;
    }
    &.ant-btn:active, &.ant-btn.active {
        color: @clickColor;
        border-color: @clickColor;
    }
    &.ant-btn-disabled,
    &.ant-btn.disabled,
    &.ant-btn[disabled],
    &.ant-btn-disabled:hover,
    &.ant-btn.disabled:hover,
    &.ant-btn[disabled]:hover,
    &.ant-btn-disabled:focus,
    &.ant-btn.disabled:focus,
    &.ant-btn[disabled]:focus,
    &.ant-btn-disabled:active,
    &.ant-btn.disabled:active,
    &.ant-btn[disabled]:active,
    &.ant-btn-disabled.active,
    &.ant-btn.disabled.active,
    &.ant-btn[disabled].active {
        color: @black_msg;
        background-color: @black_readonly !important;
        border-color: @black_readonly;
    }
    &.ant-btn {
        padding-left: 9px;
        padding-right: 9px;
        .anticon + span {
            margin-left: 4px;
        }
    }
}

.dt-btn-custom-icon {
    &.ant-btn {
        padding-left: 12px;
        padding-right: 12px;
        .anticon + span {
            margin-left: 4px;
        }
    }
}
.demo-button-type .ant-btn-sm {
    height: 24px;
    border-radius: 2px;
    line-height: 24px;
}
.ant-btn-icon-only {
    padding: 0;
    width: 48px;
    height: 32px;
    background: @bule;
    color: @white;
    .anticon-search {
        width: 14px;
        height: 14px;
        margin-left: 7px;
        margin-top: 2px;
    }
}
