@import "../const.less";

.ant-card {
    .ant-card-head {
        padding: 16px;
        border-bottom: 1px solid @grey_border;
        .ant-card-head-wrapper {
            .ant-card-head-title,
            .ant-card-extra {
                padding: 0;
            }
        }
    }
    .ant-card-body {
        padding: 16px;
    }
}

.ant-card-bordered {
    border: 1px solid @black_readonly;
}

.dt-card-shadow-bg {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.12);
    border: unset;
}

.ant-tabs-large > .ant-tabs-nav .ant-tabs-tab {
    padding: 16px;
}

.ant-card-contain-tabs {
    .ant-card-head {
        padding: 0;
    }
    .ant-card-head-wrapper {
        .ant-card-head-title, .ant-card-extra {
            margin: 16px 16px 0;
            line-height: 32px;
        }
    }
    .ant-tabs-nav {
        padding: 0 16px;
    }
    .ant-tabs-tab {
        color: @black_Desc;
    }
}

/* ————Custom ClassName———— */
.dt-card-shadow {
    box-shadow: 0 2px 30px 0 #EAECF4;
    border: 1px solid #EAF0FC;
}
