@import "../const.less";

.ant-card {
    box-shadow: 0 2px 30px 0 #EAECF4;
    border: 1px solid #EAF0FC;
    .ant-card-head {
        padding: 16px;
        border-bottom: 1px solid @grey_border;
        .ant-card-head-wrapper {
            .ant-card-head-title,
            .ant-card-extra {
                padding: 0;
            }
        }
    }
    .ant-card-body {
        padding: 16px;
    }
}

.dt-card-shadow-bg {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.12);
    border: unset;
}

.ant-tabs-large > .ant-tabs-nav .ant-tabs-tab {
    padding: 16px;
}
