@import "../const.less";
// checkbox
.ant-checkbox-group {
    line-height: calc(@lineHeight / @font12);
}

.ant-checkbox-wrapper {
    .ant-checkbox-inner {
        border-radius: 2px;
        width: 16px;
        height: 16px;
    }
}

.ant-checkbox-wrapper-disabled {
    // 禁用已选择的 checkbox
    .ant-checkbox-checked {
        .ant-checkbox-inner {
            background-color: @black_border;
            &::after {
                border-color: @white;
            }
        }
    }
    // 禁用未选择的 checkbox
    .ant-checkbox-disabled {
        .ant-checkbox-inner {
            border-color: @black_border;
        }
    }
}

.ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: @primaryColor;
}
