@import '../const.less';

.ant-descriptions-bordered .ant-descriptions-view {
    border: 1px solid @black_border;
    border-bottom: unset;
    .ant-descriptions-row{
        border-bottom: 1px solid @black_border;
        height: 36px;
        box-sizing: border-box;
    }
    .ant-descriptions-item-content {
        padding: 0 12px;
        border-right: 1px solid @black_border;
    }
    .ant-descriptions-item-label {
        padding: 0 12px;
        border-right: 1px solid @black_border;
        color: @black_Desc;
    }
}
.dt-descriptions-vertica-display{
    .ant-descriptions-item{
        height: 20px;
        box-sizing: border-box;
        display: block;
        margin-bottom: 8px;
    }
    .ant-descriptions-item-content {
        padding: 0;
        display: block;
    }
    .ant-descriptions-item-label {
        padding: 0;
        display: block;
        color: @black_pageMsg;
    }
}