@import '../const.less';

.ant-descriptions-bordered .ant-descriptions-view {
    border: 1px solid @black_border;
    border-bottom: unset;
    .ant-descriptions-row{
        border-bottom: 1px solid @black_border;
    }
    .ant-descriptions-item-content {
        border-right: 1px solid @black_border;
    }
    .ant-descriptions-item-label {
        border-right: 1px solid @black_border;
    }
}