@import './reset.less';
@import './layout.less';
@import './table.less';
@import './button.less';
@import './modal.less';
@import './form.less';
@import './notice.less';
@import './comm.less';
@import './breadcrumb.less';
@import './tab.less';
@import './descriptions.less';
@import './steps.less';
@import './card.less';
@import './tag.less';
@import './popover.less';
@import './pagination.less';
@import './collapse.less';
@import './list.less';
@import './input.less';
@import './datepicker.less';
@import './cascader.less';
@import './upload.less';
@import './checkbox.less';
@import './drawer.less';
@import './transfer.less';
@import './tree.less';
@import './treeselect.less';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    margin:0;
    height:100%;
}

body {
    background-color: @white;
}

ul,li{
    list-style: none;
}

.root {
    height: 100%;
}
