@import "./reset.less";
@import "./breadcrumb.less";
@import "./button.less";
@import "./card.less";
@import "./cascader.less";
@import "./checkbox.less";
@import "./collapse.less";
@import "./comm.less";
@import "./datepicker.less";
@import "./descriptions.less";
@import "./drawer.less";
@import "./dropdown.less";
@import "./form.less";
@import "./input-number.less";
@import "./input.less";
@import "./layout.less";
@import "./list.less";
@import "./menu.less";
@import "./modal.less";
@import "./notice.less";
@import "./pagination.less";
@import "./popover.less";
@import "./radio.less";
@import "./select.less";
@import "./steps.less";
@import "./tab.less";
@import "./table.less";
@import "./tag.less";
@import "./transfer.less";
@import "./tree.less";
@import "./treeselect.less";
@import "./upload.less";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html {
    margin: 0;
    height: 100%;
}

body {
    background-color: @white;
}

ul,li {
    list-style: none;
}

.root {
    height: 100%;
}
