@import '../const.less';
// Input
.ant-input:focus{
    border-color: #005CE6 !important;
    box-shadow: none;
}
.ant-input::-ms-input-placeholder{
    color: #B1B4C5 !important;   
}
.ant-input::-webkit-input-placeholder{
    color: #B1B4C5 !important;   
}