@import '../const.less';

.ant-modal-title {
    font-weight: 600;
}
.ant-modal-header {
    border-bottom: 1px solid @black_border;
}
.ant-modal-footer {
    border-top: 0px solid @white;
}
.ant-modal-confirm-body .ant-modal-confirm-content {
    color: @black_Desc;
}