@import '../const.less';

.ant-modal-title {
    font-weight: 600;
}
.ant-modal-header {
    padding: 11px 24px;
    background-color: @black_navBg;
}
.ant-modal-body {
    padding: 16px 24px;
    box-sizing: border-box;
    .ant-form{
        .ant-form-item {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .ant-table-container table > thead > tr:first-child th:first-child {
        padding-left: 16px;
    }
}   
.ant-modal-footer {
    padding: 12px 24px;
    border-top: 0px solid @white;
}

.ant-modal-close-x{
    line-height: 44px;
    height: 44px;
    width: 48px;
    .anticon{
        font-size: 16px;
    }
}
.ant-modal-footer .ant-btn + .ant-btn:not(.ant-dropdown-trigger){
    margin-left: 12px;
}

.ant-modal-confirm-body .ant-modal-confirm-content {
    color: @black_Desc;
}
.ant-modal-confirm .ant-modal-confirm-btns .ant-btn + .ant-btn{
    margin-left: 12px;
}
.ant-modal-confirm-body > .anticon{
    margin-right: 14px;
}
.ant-modal-confirm .ant-modal-confirm-btns .ant-btn.ant-btn-dangerous{
    background-color: @red;
    color: @white;
    border-color: @red;
}
