@import '../const.less';
.ant-popover{
    .ant-popover-inner{
        padding: 16px;
    }
    .ant-popover-title{
        padding: 0;
        border-bottom: none;
        min-height: 22px;
    }
    .ant-popover-inner-content{
        padding: 0;
    }
    .ant-btn{
        margin-right: 8px;
    }
}