.ant-radio {
    top: 0.1em;
}

.ant-radio-group {
    .ant-radio-wrapper {
        align-items: center;
        line-height: 1;
        span.ant-radio + * {
            padding-top: 2px;
        }
    }
}
