/* stylelint-disable indentation */
@import "../const.less";

.ant-tag > .ant-tag-close-icon {
    margin-left: 2px;
    color: @black_pageMsg;
    font-size: 12px;
    vertical-align: -0.1625em;
}

.dt-ant-tag-icon {
    padding: 2px 12px;
    line-height: 20px;
    border: none;
    border-radius: 12px;
    svg {
        width: 16px;
        height: 16px;
    }
}

.dt-tag-disabled {
    color: @black_pageMsg;
    background-color: @black_border;
    border-color: @black_border;
}

/** Tag 的 color 模式 */
@tagColorBackgroundList: {
    magenta: #FFF0F6;
    red: #FFF1F0;
    volcano: #FFF2E8;
    orange: #FFF7E6;
    gold: #FFFBE6;
    lime: #FCFFE6;
    green: #F6FFED;
    cyan: #E6FFFB;
    blue: #E6F7FF;
    geekblue: #F0F5FF;
    purple: #F9F0FF;
    success: #E6FFF6;
    processing: #E8F5FF;
    error: #FFF4F0;
    warning: #FFFCE6;
}
@tagColorBorderColorList: {
    magenta: #FFADD2;
    red: #FFA39E;
    volcano: #FFBB96;
    orange: #FFD591;
    gold: #FFE58F;
    lime: #EAFF8F;
    green: #B7EB8F;
    cyan: #87E8DE;
    blue: #91D5FF;
    geekblue: #ADC6FF;
    purple: #D3ADF7;
    success: #8DFCDD;
    processing: #96CBFF;
    error: #FFE0D9;
    warning: #FFE88A;
}

.ant-tag {
    display: inline-flex;
    align-items: center;
    height: 24px;
    padding: 2px 8px;
    line-height: 18px;
    background: @black_navBg;
    border-color: @black_readonly;

    each(@tagColorBackgroundList, {
        &.ant-tag-@{key} {
            background: @value;
        }
    })

    each(@tagColorBorderColorList, {
        &.ant-tag-@{key} {
            border-color: @value;
        }
    });
}
