@import "../const.less";

.ant-tag {
    padding: 2px 8px;
    height: 24px;
    border-radius: 4px;
    border: 1px solid @black_readonly;
    box-sizing: border-box;
    line-height: 18px;
    display: inline-flex;
    align-items: center;
    background-color: @black_navBg;
}

.ant-tag-close-icon {
    margin-left: 4px;
    color: @black_pageMsg;
    font-size: 12px;
    vertical-align: -0.1625em;
}

.dt-ant-tag-icon {
    line-height: 20px;
    border: none;
    border-radius: 12px;
    padding: 2px 12px;
    svg {
        width: 16px;
        height: 16px;
    }
}

.ant-tag > .anticon + span, .ant-tag > span + .anticon {
    margin-left: 2px;
}

.dt-tag-disabled {
    color: @black_pageMsg;
    background-color: @black_border;
    border-color: @black_border;
}
