@import "../const.less";

.ant-tree-show-line .ant-tree-indent-unit::before {
    border-right: 1px dashed @black_border;
    margin-bottom: 1px;
}

.ant-tree .ant-tree-node-content-wrapper.ant-tree-node-selected {
    color: @blue;
    background: none;
}

.ant-tree .ant-tree-node-content-wrapper:hover {
    background-color: @black_titleBg;
}

.ant-tree .ant-tree-treenode {
    padding: 0;
    .ant-tree-switcher, .ant-tree-checkbox {
        line-height: 32px;
    }
    .ant-tree-checkbox {
        margin: 8px 8px 0 0;
        .ant-tree-checkbox-inner {
            border-radius: 2px;
        }
    }
    .ant-tree-node-content-wrapper {
        line-height: 32px;
    }
}

.ant-tree.ant-tree-block-node .ant-tree-list-holder-inner .ant-tree-node-content-wrapper {
    display: flex;
    align-items: center;
    overflow: hidden;
}

// 左侧折叠、展开的图标
.ant-tree-switcher .ant-tree-switcher-icon, .ant-tree-switcher .ant-select-tree-switcher-icon, .ant-tree-show-line .ant-tree-switcher-line-icon {
    font-size: 14px;
}
// 左侧折叠、展开的图标 居中显示
span.ant-tree-switcher.ant-tree-switcher_close, span.ant-tree-switcher.ant-tree-switcher_open {
    display: flex;
    align-items: center;
    justify-content: center;
}
