@import "../const.less";

.ant-tree-select-dropdown {
    .ant-select-tree {
        .ant-select-tree-treenode {
            padding: 0;
        }
        .ant-select-tree-list-holder {
            .ant-select-tree-node-content-wrapper {
                min-height: 32px;
                line-height: 32px;
                &:hover {
                    background-color: @black_titleBg;
                }
            }
            .ant-select-tree-switcher {
                line-height: 32px;
            }
            .ant-select-tree-node-content-wrapper.ant-select-tree-node-selected {
                color: @blue;
                background: none;
            }
        }
    }
    .ant-select-tree-list {
        .ant-select-tree-treenode {
            .ant-select-tree-checkbox {
                margin: 8px 8px 0 0;
                .ant-select-tree-checkbox-inner {
                    border-radius: 2px;
                }
            }
        }
    }
}
