@import "../const.less";

.ant-collapse {
    .ant-collapse-item {
        .ant-collapse-header {
            background-color: #242738;
        }
        .ant-collapse-content {
            background-color: @blue1;
            border-top: 1px solid #2F334D;
        }
    }
}

.dt-collapse-light-bg {
    .ant-collapse, &.ant-collapse .ant-collapse-item, &.ant-collapse-item {
        .ant-collapse-header {
            background-color: #2F334D;
        }
        .ant-collapse-content {
            background-color: @blue2;
            border-top: 1px solid #2F334D;
        }
    }
}
