@import '../const.less';

.ant-descriptions {
    .ant-descriptions-bordered, .ant-descriptions-row {
        border-bottom: 1px solid #06070A;
        .ant-descriptions-item-content {
            border-right: 1px solid #06070A;
        }
        .ant-descriptions-item-label {
            border-right: 1px solid #06070A;
        }
    }
    .ant-descriptions-item-content {
        background-color: @blue2;
    }
}