@import '../const.less';

// form 
.@{ant-prefix}-form-item-label > label {
    color: @whiteBF;
}
// input
.@{ant-prefix}-input {
    border-radius: 4px;
    &:focus {
        border-color: @primaryColor;
    }
}
.@{ant-prefix}-input-disabled {
    border-color: #272A40;
}
.@{ant-prefix}-input[disabled]:hover {
    border-color: #272A40;
}
.@{ant-prefix}-input-lg {
    font-size: 12px;
}
.@{ant-prefix}-input-search-icon, .@{ant-prefix}-input-password-icon {
    color: @white6;
    &:hover {
        color: @whiteBF;
    }
}
// select
.@{ant-prefix}-select-selection {
    &:focus, &.active {
        border-color: @primaryColor;
    }
}
.@{ant-prefix}-select-dropdown {
    box-shadow:0px 2px 8px 0px rgba(6,7,10,1);
}
.@{ant-prefix}-select-dropdown-menu-item-active:not(.@{ant-prefix}-select-dropdown-menu-item-disabled) {
    background-color: @deriveColor_dark;
}
// checkbox
.@{ant-prefix}-checkbox-inner {
    background-color: #11121C;
    border-color: #363B59;
}
.@{ant-prefix}-checkbox + span {
    color: @whiteBF;
}
// radio
.@{ant-prefix}-radio-inner {
    background-color: #11121C;
    border-color: #363B59;
}
// switch
.@{ant-prefix}-switch {
    background-color: @deriveColor_dark;
}
.@{ant-prefix}-switch-checked {
    background-color: @primaryColor;
}
.@{ant-prefix}-switch-loading-icon, .@{ant-prefix}-switch::after {
    background-color: #ffffff;
}
// cascader
.@{ant-prefix}-cascader-menu-item {
    color: @whiteBF;
}
.@{ant-prefix}-cascader-menu-item-active:not(.@{ant-prefix}-cascader-menu-item-disabled), .@{ant-prefix}-cascader-menu-item-active:not(.@{ant-prefix}-cascader-menu-item-disabled):hover {
    background-color: @deriveColor_dark;
}
// datePicker
.@{ant-prefix}-calendar {
    box-shadow: 0px 2px 8px 0px rgba(6,7,10,1);
    border: 0;
}
// tree
.@{ant-prefix}-select-tree li .@{ant-prefix}-select-tree-node-content-wrapper.@{ant-prefix}-select-tree-node-selected {
    background-color: @deriveColor_dark;
}
.@{ant-prefix}-select-tree-dropdown .@{ant-prefix}-select-dropdown-search {
    padding: 12px 12px 8px;
    .@{ant-prefix}-select-search__field {
        background: #11111C;
    }
}
.@{ant-prefix}-select-tree {
    padding: 0 12px;
}
// timePicker
.@{ant-prefix}-time-picker-panel-input {
    background-color: transparent;
}

// 浅色背景中 显示深色控件
.dt-form-light-bg {
    // input
    .@{ant-prefix}-input,&.@{ant-prefix}-input,
    .@{ant-prefix}-select-selection, &.@{ant-prefix}-select-selection,
    .@{ant-prefix}-time-picker-input, &.@{ant-prefix}-time-picker-input,
    .@{ant-prefix}-input-number, &.@{ant-prefix}-input-number,
    .@{ant-prefix}-cascader-picker, &.@{ant-prefix}-cascader-picker {
        border-color: @blue3;
        background-color: #11111C;
        &:focus, &:hover {
            border-color: @primaryColor;
        }
    }
    .@{ant-prefix}-input[disabled], &.@{ant-prefix}-input[disabled] {
        background-color: #161723;
        &:hover {
            border-color: @blue3;
        }
    }
    // select
    &.@{ant-prefix}-select-disabled, .@{ant-prefix}-select-disabled {
        .@{ant-prefix}-select-selection {
            background: #161723;
            &:hover, &:focus, &.active {
                border-color: @blue3;
            }
        }
    }
    &.@{ant-prefix}-select-dropdown {
        border: 1px solid #272A40;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
        background-color: @blue1;
        .@{ant-prefix}-select-dropdown-menu-item:hover:not(.@{ant-prefix}-select-dropdown-menu-item-disabled) {
            background-color: #282C40;
        }
        .@{ant-prefix}-select-dropdown-menu-item-selected {
            background-color: #282C40;
        }
    }
    // tree
    .@{ant-prefix}-select-tree li .@{ant-prefix}-select-tree-node-content-wrapper.@{ant-prefix}-select-tree-node-selected {
        background-color: #282C40;
    }
    &.@{ant-prefix}-select-tree-dropdown .@{ant-prefix}-select-dropdown-search {
        background: transparent;
        .@{ant-prefix}-select-search__field {
            background: #1D1F2E;
            border-color: #2C3047;
        }
    }
    // datePicker
    .@{ant-prefix}-calendar {
        background-color: @blue1;
    }
    .@{ant-prefix}-calendar-input {
        background: @blue1;
    }
    // timerPicker
    .@{ant-prefix}-time-picker-panel-inner {
        background-color: @blue1;
    }
    // cascader
    .@{ant-prefix}-cascader-menus, &.@{ant-prefix}-cascader-menus {
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
        background-color: @blue1;
        border: 1px solid #272A40;
        .@{ant-prefix}-cascader-menu-item-active:not(.@{ant-prefix}-cascader-menu-item-disabled), .@{ant-prefix}-cascader-menu-item-active:not(.@{ant-prefix}-cascader-menu-item-disabled):hover {
            background-color: #282C40;
        }
    }
    .has-error {
        .@{ant-prefix}-input, .@{ant-prefix}-select-selection, .@{ant-prefix}-input-number, .@{ant-prefix}-time-picker-input, .@{ant-prefix}-cascader-picker {
            border-color: #E25F5D;
            background-color: #11111C;
        }
    }
}
.has-error {
    .dt-form-light-bg {
        &.@{ant-prefix}-input, .@{ant-prefix}-select-selection, .@{ant-prefix}-input-numbe, .@{ant-prefix}-time-picker-input, .@{ant-prefix}-cascader-picker {
            border-color: #E25F5D;
            background-color: #11111C;
        }
    }
}