@import './resetDark.less';
@import './button.less';
@import './modal.less';
@import './alert.less';
@import './notification.less';
@import './message.less';
@import './form.less';
@import './table.less';
@import './layout.less';
@import './collapse.less';
@import './steps.less';
@import './descriptions.less';
@import './list.less';
@import './card.less';
@import './tab.less';
@import './popover.less';
@import './upload.less';
@import './drawer.less';
@import './comm.less';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    margin:0;
    height:100%;
}

body {
    background-color: #ffffff;
}

ul,li{
    list-style: none;
}

.root {
    height: 100%;
}
