@import '../const.less';

.dt-layout-header {
    min-width: @minWidth;
    .ant-menu {
        font-size: @font16;
    }
    .ant-menu-item > a:hover {
        color: @primaryColor;
    }
    .ant-menu-item-selected > a, .ant-menu-item-selected > a:hover {
        color: @primaryColor;
    }
    .ant-menu-horizontal > .ant-menu-item,
    .ant-menu-horizontal > .ant-menu-submenu {
        border-bottom: 3px solid #111426;
    }
}

.dt-layout-sider {
    .ant-menu {
        &:not(.ant-menu-horizontal) .ant-menu-item-selected {
            border-left: 3px solid @primaryColor;
        }
    }
}

.ant-menu-submenu-popup {
    .ant-menu {
        &:not(.ant-menu-horizontal) .ant-menu-item-selected {
            border-left: 3px solid @primaryColor;
        }
    }
    .ant-menu-item:active, .ant-menu-submenu-title:active {
        border-left: 3px solid @primaryColor;
    }
}

// 项目中使用
.dt-container {
    min-width: @minWidth;
}