@import '../const.less';

.@{ant-prefix}-list {
    .@{ant-prefix}-list-bordered, .@{ant-prefix}-list-item
    .@{ant-prefix}-list-split, .@{ant-prefix}-list-item {
        background: @blue2;
        border-bottom: 1px solid @blue4;
    }
    background: @blue2;
}