@import '../const.less';

.ant-modal-title {
    font-weight: 500;
}
.ant-modal-content {
    background-color: @blue2;
    border: 1px solid @blue3;
}
.ant-modal-header {
    padding: 15px 20px;
    border-bottom-color: @blue3;
}
.ant-modal-body {
    padding: 24px 20px 28px;
}
.ant-modal-footer {
    border-top: 0px;
    padding: 20px;
}
.ant-modal-confirm {
    min-width: 460px !important;
}
.ant-modal-confirm .ant-modal-body {
    padding: 52px 20px 20px 32px;
}
.ant-modal-confirm-body .ant-modal-confirm-title {
    font-size: 16px;
}
.ant-modal-confirm-body .ant-modal-confirm-content {
    margin-top: 12px;
    font-size: 14px;
}
.ant-modal-confirm .ant-modal-confirm-btns {
    margin-top: 32px;
}
.ant-modal-confirm-body > .anticon {
    font-size: 20px;
    margin-right: 8px;
}
.ant-modal-confirm-body > .anticon + .ant-modal-confirm-title + .ant-modal-confirm-content {
    margin-left: 30px;
}
.ant-modal-confirm .ant-modal-confirm-btns {
    margin-top: 36px;
}