@import '../const.less';
.@{ant-prefix}-notification {
    width: 360px;
}
.@{ant-prefix}-notification-notice {
    padding: 20px 28px 20px 16px;
}
.@{ant-prefix}-notification-notice-icon {
    margin-left: 0px;
    font-size: 20px;
    margin-top: 2px;
}
.@{ant-prefix}-notification-notice-with-icon {
    .@{ant-prefix}-notification-notice-message {
        font-size: 16px;
        margin-left: 32px;
        margin-bottom: 8px;
        font-weight: 500;
        color: @whiteBF;
    }
    .@{ant-prefix}-notification-notice-description {
        margin-left: 32px;
        color: @white8C;
    }
}
.@{ant-prefix}-notification-notice-close {
    color: #999999;
    top: 11px;
    right: 12px;
    &:hover {
        color: #999999;
    }
}
.dt-notification-close-btn {
    position: absolute;
    color: #BFBFBF;
    right: 36px;
    top: 12px;
    line-height: 17px;
    font-size: 13px;
    font-weight: normal;
    user-select: none;
    cursor: pointer;
    &:hover {
        color: #BFBFBF;
    }
}