@import '../const.less';

.@{ant-prefix}-steps {
   .@{ant-prefix}-steps-item-finish
   >.@{ant-prefix}-steps-item-container
   >.@{ant-prefix}-steps-item-content
   >.@{ant-prefix}-steps-item-title {
        color: @white8C;
    }
    .@{ant-prefix}-steps-item-process
    >.@{ant-prefix}-steps-item-container
    >.@{ant-prefix}-steps-item-content
    >.@{ant-prefix}-steps-item-title::after {
        background-color: #282B46
    }
}

.@{ant-prefix}-steps + .steps-content {
    border: 1px solid #282B40;
}