@import '../const.less';

.dt-tab-card {
    .ant-tabs-nav .ant-tabs-tab {
        border-top: 1px solid @blackDD;
        border-left: 1px solid @blackDD;
        border-bottom: 1px solid @blackDD;
        &:last-child {
            border-right: 1px solid @blackDD;
        }
        &:hover {
            color: @black3;
        }
    }
    .ant-tabs-nav .ant-tabs-tab-active {
        color: @black3;
        border-bottom: 0px solid @blackDD;
    }
    .ant-tabs-bar {
        border-bottom: 0px solid #fff;
    }
}
