@import '../const.less';

.@{ant-prefix}-tree {
    .@{ant-prefix}-tree-checkbox-inner {
        background-color: #11121C;
        border-color: #363B59;
    }
    .@{ant-prefix}-tree-checkbox-checked .@{ant-prefix}-tree-checkbox-inner {
        background-color: @primaryColor;
        border-color: @primaryColor;
    }
}
.@{ant-prefix}-tree.@{ant-prefix}-tree-show-line li span.@{ant-prefix}-tree-switcher {
    background-color: transparent;
}