@import '../const.less';

.@{ant-prefix}-upload-drag {
    background: #1D1F2E;
    border: 1px solid #2C3047;
    &:hover {
        border-color: @primaryColor;
    }
}

.@{ant-prefix}-upload.@{ant-prefix}-upload-select-picture-card {
    background-color: transparent;
    .@{ant-prefix}-upload > .dt-upload-button {
        font-size: 14px;
        .anticon {
            font-size: 20px;
        }
    }
    &:hover {
        border-color: @primaryColor;
        .@{ant-prefix}-upload > div {
            color: @primaryColor;
        }
    }
}

.@{ant-prefix}-upload-list-picture-card .@{ant-prefix}-upload-list-item-error {
    border-color: @red;
}